<h1>Articles</h1>
<p><%= link_to 'âž• add an article', new_article_path %></p>
<% @articles.each do |article| %>
<li><strong><%= article.title %></strong> - <em><%= article.content %></em>
<%= link_to 'ðŸ“', edit_article_path(article) %>
<%= link_to 'ðŸ—‘ï¸', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></li>
<% end %>
